* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

body {
    background: rgb(167, 167, 167);
    color: rgba(226, 226, 226, 0.8);
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
}

/*********************Sidebar***************/

sidebar {
    display: block;
    background: rgba(84, 84, 84, 0.5);
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 380px;
    line-height: 1.35;
}

#profile-picture {
    width: 140px;
    border: 1px solid pink;
    border-radius: 50%;
    margin: 10px;
}

.header {
    height: 135px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.header h4 {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(206, 202, 202, 1);
    padding: 10px;
}

.header h3 {
    font-size: 2.3rem;
    font-weight: 600;
    padding: 10px;
}

.infos-personelles {
    padding: 10px;
    margin-top: 20px;
}

.mail,
.tel,
.adresse,
.permis {
    background: rgba(196, 196, 196, 0.35);
    padding: 10px;
    margin: 10px;
    text-align: justify;
    border: solid 1px transparent;
    border-radius: 10px;
}

.infos-personelles i {
    padding-right: 40px;
    padding-left: 10px;
    color: pink;
}

.infos {
    background: rgba(196, 196, 196, 0.35);
    padding: 10px;
    margin: 10px;
    text-align: justify;
    border: solid 1px transparent;
    border-radius: 10px;
}

.level {
    color: pink;
    letter-spacing: 5px;
    padding-left: 10px;
    margin: 0;
}

a {
    color: pink;
    text-decoration: none;
    line-height: 2px;
}

a i {
    color: rgba(226, 226, 226, 0.8);
    padding-right: 10px;
}

.hobbies {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'tit tit tit tit'
        'img1 img2 img3 img4'
        'txt1 txt2 txt3 txt4';
    gap: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.6rem;
    padding: 10px;
}

.hobbies i {
    color: pink;
    font-size: 2rem;
    text-align: center;
    display: block;
}

.hobbies h4 {
    grid-area: tit;
    text-align: justify;
}

/************** Main ***********************/

main {
    width: 100%;
    color: rgba(84, 84, 84, 0.7);
}

h1 {
    color: pink;
    font-size: 2.2rem;
    text-align: center;
    padding-top: 20px;
}

.parcours {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

h2::before {
    content: '';
    background: pink;
    position: absolute;
    width: 4px;
    height: 25px;
    left: -1%;
}

h2 {
    position: relative;
    font-size: 1.5rem;
    padding: 10px;
    color: #fff;
}

.formations {
    position: relative;
}

.formations::after {
    content: '';
    background: pink;
    position: absolute;
    width: 1px;
    height: 90%;
    left: 110%;
    top: 20px;
}

.forms,
.exp {
    line-height: 2;
    padding: 20px;
}

.formations,
.experiences {
    margin: 50px 40px 40px;
}

h4 {
    font-size: 1rem;
    color: #fff;
}

main h4 {
    color: rgba(84, 84, 84, 0.8);
}

.skills-head {
    text-align: center;
    margin-bottom: 35px;
}

.skills::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background: pink;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.skills {
    position: relative;
    padding: 50px;
    width: 100%;

}

.skills-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills img {
    width: 70px;
    padding: 0px;
    margin: 20px;
}

.skills h2::before {
    content: '';
    background: pink;
    position: absolute;
    width: 4px;
    height: 25px;
    left: 50%;
    transform: translateX(-90px);
}